
Link to new york taxi website
https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [1]:
# download the zone data for the taxi locations
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-19 23:20:23--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.136.176, 16.182.104.64, 52.216.48.232, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.136.176|:443... failed: Unknown error.
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.104.64|:443... failed: Unknown error.
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.48.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 2.24K=5.4s

2024-01-19 23:21:12 (2.24 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df= pd.read_csv("taxi+_zone_lookup.csv")
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
print(pd.io.sql.get_schema(df, name="zones"))

CREATE TABLE "zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [5]:
# connect to the database runnning on docker
engine  = create_engine('postgresql://root:root@localhost:5431/ny_taxi')
con = engine.connect()

In [6]:
# use the columns to create a database
df.head(n=0).to_sql(name="zones",con=engine, if_exists="replace")

In [7]:
df.to_sql(name="zones",con=engine, if_exists="append")