
Link to new york taxi website
https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [1]:
import pandas as pd

In [6]:
df= pd.read_csv("yellow_tripdata_2021-01.csv",nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

we wan to create a database and hen ingest our data into the database but first we need to understand the data schema. pandas can be used to extract the data DDL

In [7]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [60]:
# convert the data time columns to a timestamp
df["tpep_pickup_datetime"] = pd.to_datetime(df.tpep_pickup_datetime)
df["tpep_dropoff_datetime"] =pd.to_datetime(df.tpep_dropoff_datetime)

In [61]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [62]:
from sqlalchemy  import create_engine

In [63]:
# connect to the database runnning on docker
engine  = create_engine('postgresql://root:root@localhost:5431/ny_taxi')
con = engine.connect()

In [64]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

The entire data frame is too big, we have over 2 million data, so we will load it into the dataset uisng a paralle method uisg pandas

In [65]:
df_iter = pd.read_csv("yellow_tripdata_2022-01.csv", iterator=True, chunksize = 100000)

In [66]:
df = next(df_iter)
len(df)

100000

In [67]:
# use the columns to create a database
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine, if_exists="replace")

In [68]:
from time import time

while True:
    
    try:

        t_start = time()

        df = next(df_iter)

        df["tpep_pickup_datetime"] = pd.to_datetime(df.tpep_pickup_datetime)
        df["tpep_dropoff_datetime"] =pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name="yellow_taxi_data",con=engine, if_exists="append")

        t_end = time()

        print('inserted another chunk, tool %.3f second'%(t_end-t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, tool 33.003 second
inserted another chunk, tool 41.816 second
inserted another chunk, tool 43.863 second
inserted another chunk, tool 42.036 second
inserted another chunk, tool 35.858 second
inserted another chunk, tool 41.068 second
inserted another chunk, tool 41.472 second
inserted another chunk, tool 23000.694 second
inserted another chunk, tool 31.991 second
inserted another chunk, tool 38.661 second
inserted another chunk, tool 37.180 second
inserted another chunk, tool 39.497 second
inserted another chunk, tool 41.889 second
inserted another chunk, tool 41.170 second
inserted another chunk, tool 7915.245 second
inserted another chunk, tool 35.972 second
inserted another chunk, tool 33.644 second
inserted another chunk, tool 45.567 second
inserted another chunk, tool 47.230 second
inserted another chunk, tool 39.382 second
inserted another chunk, tool 30.679 second
inserted another chunk, tool 32.176 second

C:\Users\HP\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

inserted another chunk, tool 36.983 second
inserted another chunk, tool 23.393 second
Finished ingesting data into the postgres database

In [2]:
import pandas as pd
df= pd.read_csv("green_tripdata_2019-01.csv.gz",nrows=100)
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN