
Link to new york taxi website
https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [18]:
import pandas as pd

In [19]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-26 00:20:14--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240125T231842Z&X-Amz-Expires=300&X-Amz-Signature=6a593d7cb3eb4757be2312dabb70e0483eda7eed4457253ea67d71229e3bcff5&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-26 00:20:16--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240125T231842Z&X-Amz-Expires=300&X-Amz-Signature=6a593d7cb3eb4757be2312dabb70e0483eda7eed4457253ea67d71229e3bcff5&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: 'green_tripdata_2019-09.csv.gz.1'

     0K .......... .......... .......... .......... ..........  0%  139K 55s
    50K .......... .......... .......... .......... ..........  1%  864K 32s
   100K .......... .......... .......... .......... ..........  1%  788K 24s
   150K .......... .......... .......... .......... ..........  2%  486K 22s
   200K .......... .......... .......... .......... ..........  3%  950K 19s
   250K .......... .......... .......... .......... ..........  3%  551K 18s
   300K .......... .......... .......... .......... ..........  4% 1.12M 16s
   350K .......... .......... .......... .......... ..........  5%  991K 15s
   400K .......... .......... .......... .......... ..........  5%  467K 15s
   450K .......... .......... .......... .......... ..........  6% 1.27M 14s
   500K .......... .......... .......... .......... ..........  7%  542K 14s
   550K .......... .......... .......... .......... ..........  7% 1.08M 13s
   600K .......... .......... .......... .......... ..........  8% 1.28M 12s
   650K .......... .......... .......... .......... ..........  9% 1.41M 12s
   700K .......... .......... .......... .......... ..........  9% 1.11M 11s
   750K .......... .......... .......... .......... .......... 10%  902K 11s
   800K .......... .......... .......... .......... .......... 11% 1.07M 11s
   850K .......... .......... .......... .......... .......... 11% 1.28M 10s
   900K .......... .......... .......... .......... .......... 12% 1.41M 10s
   950K .......... .......... .......... .......... .......... 13% 1.14M 10s
  1000K .......... .......... .......... .......... .......... 13% 2.20M 9s
  1050K .......... .......... .......... .......... .......... 14% 1.30M 9s
  1100K .......... .......... .......... .......... .......... 14% 1.34M 9s
  1150K .......... .......... .......... .......... .......... 15%  956K 9s
  1200K .......... .......... .......... .......... .......... 16%  874K 8s
  1250K .......... .......... .......... .......... .......... 16%  977K 8s
  1300K .......... .......... .......... .......... .......... 17% 1.19M 8s
  1350K .......... .......... .......... .......... .......... 18% 1.11M 8s
  1400K .......... .......... .......... .......... .......... 18%  801K 8s
  1450K .......... .......... .......... .......... .......... 19% 1.05M 8s
  1500K .......... .......... .......... .......... .......... 20% 1.04M 8s
  1550K .......... .......... .......... .......... .......... 20%  750K 8s
  1600K .......... .......... .......... .......... .......... 21%  835K 8s
  1650K .......... .......... .......... .......... .......... 22%  777K 7s
  1700K .......... .......... .......... .......... .......... 22%  669K 7s
  1750K .......... .......... .......... .......... .......... 23%  822K 7s
  1800K .......... .......... .......... .......... .......... 24%  829K 7s
  1850K .......... .......... .......... .......... .......... 24% 1.08M 7s
  1900K .......... .......... .......... .......... .......... 25% 1.17M 7s
  1950K .......... .......... .......... .......... .......... 26% 1.23M 7s
  2000K .......... .......... .......... .......... .......... 26%  751K 7s
  2050K .......... .......... .......... .......... .......... 27% 1.04M 7s
  2100K .......... .......... .......... .......... .......... 28%  881K 7s
  2150K .......... .......... .......... .......... .......... 28%  631K 7s
  2200K .......... .......... .......... .......... .......... 29%  789K 7s
  2250K .......... .......... .......... .......... .......... 29%  835K 7s
  2300K .......... .......... .......... .......... .......... 30%  721K 7s
  2350K .......... .......... .......... .......... .......... 31% 1.01M 6s
  2400K .......... .......... .......... .......... .......... 31%  768K 6s
  2450K .......... .......... .......... .......... .......... 32% 1.19M 6s
  2500K .......... .......... .......... .......... .......... 33% 1.03M 6s
  2550K .......... .......... .......... .......... .......... 33%  989K 6s
  2600K .......... .......... .......... .......... .......... 34%  830K 6s
  2650K .......... .......... .......... .......... .......... 35% 1.05M 6s
  2700K .......... .......... .......... .......... .......... 35%  979K 6s
  2750K .......... .......... .......... .......... .......... 36%  653K 6s
  2800K .......... .......... .......... .......... .......... 37% 62.0K 7s
  2850K .......... .......... .......... .......... .......... 37% 75.3M 7s
  2900K .......... .......... .......... .......... .......... 38% 56.3M 7s
  2950K .......... .......... .......... .......... .......... 39% 40.4M 7s
  3000K .......... .......... .......... .......... .......... 39% 51.6M 6s
  3050K .......... .......... .......... .......... .......... 40% 47.2M 6s
  3100K .......... .......... .......... .......... .......... 41% 46.0M 6s
  3150K .......... .......... .......... .......... .......... 41% 25.3M 6s
  3200K .......... .......... .......... .......... .......... 42% 24.7M 6s
  3250K .......... .......... .......... .......... .......... 43% 56.0M 6s
  3300K .......... .......... .......... .......... .......... 43% 42.8M 5s
  3350K .......... .......... .......... .......... .......... 44% 47.3M 5s
  3400K .......... .......... .......... .......... .......... 44% 52.4M 5s
  3450K .......... .......... .......... .......... .......... 45% 4.47M 5s
  3500K .......... .......... .......... .......... .......... 46% 1.10M 5s
  3550K .......... .......... .......... .......... .......... 46% 1.21M 5s
  3600K .......... .......... .......... .......... .......... 47%  637K 5s
  3650K .......... .......... .......... .......... .......... 48%  959K 5s
  3700K .......... .......... .......... .......... .......... 48% 1.15M 5s
  3750K .......... .......... .......... .......... .......... 49%  852K 5s
  3800K .......... .......... .......... .......... .......... 50% 1.25M 5s
  3850K .......... .......... .......... .......... .......... 50% 1.49M 4s
  3900K .......... .......... .......... .......... .......... 51% 1.61M 4s
  3950K .......... .......... .......... .......... .......... 52% 1.01M 4s
  4000K .......... .......... .......... .......... .......... 52% 1013K 4s
  4050K .......... .......... .......... .......... .......... 53% 1.29M 4s
  4100K .......... .......... .......... .......... .......... 54% 1.12M 4s
  4150K .......... .......... .......... .......... .......... 54% 1.37M 4s
  4200K .......... .......... .......... .......... .......... 55% 1.19M 4s
  4250K .......... .......... .......... .......... .......... 56% 1.12M 4s
  4300K .......... .......... .......... .......... .......... 56% 1.32M 4s
  4350K .......... .......... .......... .......... .......... 57% 1.28M 4s
  4400K .......... .......... .......... .......... .......... 58%  949K 4s
  4450K .......... .......... .......... .......... .......... 58%  999K 4s
  4500K .......... .......... .......... .......... .......... 59% 1.27M 4s
  4550K .......... .......... .......... .......... .......... 59% 1.09M 3s
  4600K .......... .......... .......... .......... .......... 60% 1.04M 3s
  4650K .......... .......... .......... .......... .......... 61%  315K 3s
  4700K .......... .......... .......... .......... .......... 61% 1.20M 3s
  4750K .......... .......... .......... .......... .......... 62% 1.02M 3s
  4800K .......... .......... .......... .......... .......... 63%  854K 3s
  4850K .......... .......... .......... .......... .......... 63% 1.88M 3s
  4900K .......... .......... .......... .......... .......... 64% 1.46M 3s
  4950K .......... .......... .......... .......... .......... 65% 1.39M 3s
  5000K .......... .......... .......... .......... .......... 65% 1.62M 3s
  5050K .......... .......... .......... .......... .......... 66% 1016K 3s
  5100K .......... .......... .......... .......... .......... 67% 1.22M 3s
  5150K .......... .......... .......... .......... .......... 67% 1.64M 3s
  5200K .......... .......... .......... .......... .......... 68%  867K 3s
  5250K .......... .......... .......... .......... .......... 69% 1.43M 3s
  5300K .......... .......... .......... .......... .......... 69% 1.26M 3s
  5350K .......... .......... .......... .......... .......... 70% 1.03M 3s
  5400K .......... .......... .......... .......... .......... 71% 1.06M 2s
  5450K .......... .......... .......... .......... .......... 71% 1.26M 2s
  5500K .......... .......... .......... .......... .......... 72% 1.07M 2s
  5550K .......... .......... .......... .......... .......... 73%  804K 2s
  5600K .......... .......... .......... .......... .......... 73%  623K 2s
  5650K .......... .......... .......... .......... .......... 74% 1.22M 2s
  5700K .......... .......... .......... .......... .......... 74% 1.04M 2s
  5750K .......... .......... .......... .......... .......... 75% 1.24M 2s
  5800K .......... .......... .......... .......... .......... 76% 1.21M 2s
  5850K .......... .......... .......... .......... .......... 76% 1.24M 2s
  5900K .......... .......... .......... .......... .......... 77% 1.22M 2s
  5950K .......... .......... .......... .......... .......... 78% 1.14M 2s
  6000K .......... .......... .......... .......... .......... 78% 1.10M 2s
  6050K .......... .......... .......... .......... .......... 79% 1020K 2s
  6100K .......... .......... .......... .......... .......... 80%  736K 2s
  6150K .......... .......... .......... .......... .......... 80%  919K 2s
  6200K .......... .......... .......... .......... .......... 81%  788K 2s
  6250K .......... .......... .......... .......... .......... 82%  930K 1s
  6300K .......... .......... .......... .......... .......... 82%  787K 1s
  6350K .......... .......... .......... .......... .......... 83%  884K 1s
  6400K .......... .......... .......... .......... .......... 84%  562K 1s
  6450K .......... .......... .......... .......... .......... 84% 1009K 1s
  6500K .......... .......... .......... .......... .......... 85% 1.09M 1s
  6550K .......... .......... .......... .......... .......... 86% 1.24M 1s
  6600K .......... .......... .......... .......... .......... 86% 1.15M 1s
  6650K .......... .......... .......... .......... .......... 87% 1.23M 1s
  6700K .......... .......... .......... .......... .......... 88%  457K 1s
  6750K .......... .......... .......... .......... .......... 88%  992K 1s
  6800K .......... .......... .......... .......... .......... 89% 1.34M 1s
  6850K .......... .......... .......... .......... .......... 89% 1.39M 1s
  6900K .......... .......... .......... .......... .......... 90% 2.32M 1s
  6950K .......... .......... .......... .......... .......... 91% 1.70M 1s
  7000K .......... .......... .......... .......... .......... 91% 1.04M 1s
  7050K .......... .......... .......... .......... .......... 92% 1.11M 1s
  7100K .......... .......... .......... .......... .......... 93% 1.01M 1s
  7150K .......... .......... .......... .......... .......... 93% 1.15M 1s
  7200K .......... .......... .......... .......... .......... 94%  737K 0s
  7250K .......... .......... .......... .......... .......... 95% 1.25M 0s
  7300K .......... .......... .......... .......... .......... 95% 1.07M 0s
  7350K .......... .......... .......... .......... .......... 96% 1.14M 0s
  7400K .......... .......... .......... .......... .......... 97% 1.05M 0s
  7450K .......... .......... .......... .......... .......... 97% 1.19M 0s
  7500K .......... .......... .......... .......... .......... 98% 1.52M 0s
  7550K .......... .......... .......... .......... .......... 99% 1.34M 0s
  7600K .......... .......... .......... .......... .......... 99% 1.13M 0s
  7650K .......... ..........                                 100% 1.30M=8.2s

2024-01-26 00:20:26 (941 KB/s) - 'green_tripdata_2019-09.csv.gz.1' saved [7854533/7854533]

In [20]:
df= pd.read_csv("green_tripdata_2019-09.csv.gz",nrows=100, compression='gzip')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

we wan to create a database and when ingest our data into the database but first we need to understand the data schema. pandas can be used to extract the data DDL

In [21]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [22]:
# convert the data time columns to a timestamp
# df["tpep_pickup_datetime"] = pd.to_datetime(df.tpep_pickup_datetime)
# df["tpep_dropoff_datetime"] =pd.to_datetime(df.tpep_dropoff_datetime)

# convert the data time columns to a timestamp
df["lpep_pickup_datetime"] = pd.to_datetime(df.lpep_pickup_datetime)
df["lpep_dropoff_datetime"] =pd.to_datetime(df.lpep_dropoff_datetime)

In [23]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [24]:
from sqlalchemy  import create_engine

In [25]:
# connect to the database runnning on docker
engine  = create_engine('postgresql://root:root@localhost:5431/ny_taxi')
con = engine.connect()

In [26]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

The entire data frame is too big, we have over 2 million data, so we will load it into the dataset uisng a paralle method uisg pandas

In [27]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv.gz", 
                      iterator=True, chunksize = 100000,
                    compression='gzip', encoding='latin1')

In [28]:
df = next(df_iter)
len(df)

100000

In [29]:
# use the columns to create a database
# df.head(n=0).to_sql(name="yellow_taxi_data",con=engine, if_exists="replace")
df.head(n=0).to_sql(name="green_taxi_data",con=engine, if_exists="replace")

In [30]:
from time import time

while True:
    
    try:

        t_start = time()

        df = next(df_iter)

        # df["tpep_pickup_datetime"] = pd.to_datetime(df.tpep_pickup_datetime)
        # df["tpep_dropoff_datetime"] =pd.to_datetime(df.tpep_dropoff_datetime)

        df["lpep_pickup_datetime"] = pd.to_datetime(df.lpep_pickup_datetime)
        df["lpep_dropoff_datetime"] =pd.to_datetime(df.lpep_dropoff_datetime)

        # df.to_sql(name="yellow_taxi_data",con=engine, if_exists="append")
        df.to_sql(name="green_taxi_data",con=engine, if_exists="append")

        t_end = time()

        print('inserted another chunk, tool %.3f second'%(t_end-t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, tool 43.903 second
inserted another chunk, tool 43.338 second

C:\Users\HP\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

inserted another chunk, tool 45.571 second
inserted another chunk, tool 19.181 second
Finished ingesting data into the postgres database